/* arrows:
	<img class="up arrow" alt="Arrow" src="png/arrow.png">
	<img class="left arrow" alt="Arrow" src="png/arrow.png">
	<img class="right arrow" alt="Arrow" src="png/arrow.png">
	<img class="down arrow" alt="Arrow" src="png/arrow.png">
	http://chittagongit.com/icon/arrow-button-icon-8.html

*/

.arrow {
	width: 3em;
	height: auto;
}

.up {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.right {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.down {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

.sprites {
	/*			
	<img class="sprites" id="player0" alt="IdleCat" src="png/IdleCat.png">
	<img class="sprites" id="player1" alt="IdleDog" src="png/IdleDog.png">
	*/
	width: auto;
	height: 100%;
}
.background-tile {
	background-image: url("png/Tile.png");
	background-repeat: repeat;
}
