.arrow{
	width: 3em;
	height: auto;
	/*
	http://chittagongit.com/icon/arrow-button-icon-8.html
	*/
}
.sprites{
	/*			
	<img class="sprites" id="player0" alt="IdleCat" src="png/IdleCat.png">
	<img class="sprites" id="player1" alt="IdleDog" src="png/IdleDog.png">
	*/
	width: 7em;
	height: auto;
}
div{
	background-image: url("png/Tile.png");
	background-repeat: repeat;
}